#
# Mineserver configuration
#

# Server name
servername = "Mineserver alpha testserver"

# Userlimit
userlimit = 50

# Port
port = 25565

# Map Release time - time in seconds to keep unused map chunks in memory
# Memory vs. CPU tradeoff. Reloading map data takes a bit of CPU each time
# but the map in memory consumes it around 100kb/chunk
map_release_time = 10

# Map directory
mapdir = "testmap"

# Message for wrong client version
wrong_protocol_message = "Wrong protocol version"

# Server full message
server_full_message = "Server is currently full"

# Default kick message
default_kick_message = "This is a default kick message"

# Starterkit (/kit starter) Stone spade, pickaxe, axe, five torches
kit_starter = "273, 274, 275, 50, 50, 50, 50, 50"